footer {
  background-color: rgba(255, 192, 203, 0.336);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 12px;
  }
}
