html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-standard !important;
  color: $color-font-standard;
}

div,
span,
a,
button {
  outline: none !important;
}
