// **************DEVICE*****************************
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

// **************FONT*******************************
$font-family-standard: "Lato", sans-serif;
$font-size: 12px;
$line-height: 12px;
$font-style: normal;

// ***************COLORS*****************************

$color-white: #fff;
$color-light: #f8f8f8;
$color-border: #cad1d7;
$color-gray: #babfc7;
$color-black: #000;

// Text Colors
$color-font-standard: #333333;
$color-font-disabled: #8c8c8c;
$color-font-subdued: #6d7175;
