.center-container {
  width: 60%;
  height: 100%;
  background-color: #fff !important ;
  img {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .center-container {
    width: 90%;
    img {
      height: 60px;
    }
  }
}
