.center-container {
  width: 60%;
  height: calc(100% - 53px);
  background-color: #fff !important ;
  img {
    height: 100px;
  }
}

@media (max-width: 768px) {
  .center-container {
    width: 90%;
    height: 100vh;

    img {
      height: 60px;
    }
  }
}
