<div class="m-auto my-3 rounded">
  <form class="text-center py-4" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Product name -->
    <mat-form-field appearance="fill">
      <mat-label>Product Name</mat-label>
      <input matInput formControlName="product" />
    </mat-form-field>

    <!-- Datepicker -->
    <mat-form-field appearance="fill">
      <mat-label>Delivery Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Origin -->
    <mat-form-field appearance="fill">
      <mat-label>Origin</mat-label>
      <input
        type="text"
        placeholder="Enter Address"
        matInput
        ngx-google-places-autocomplete
        formControlName="origin"
        (onAddressChange)="AddressChange($event, 'O')"
      />
    </mat-form-field>

    <!-- destination -->
    <mat-form-field appearance="fill">
      <mat-label>Destination</mat-label>
      <input
        type="text"
        placeholder="Enter Address"
        matInput
        ngx-google-places-autocomplete
        formControlName="destination"
        (onAddressChange)="AddressChange($event, 'D')"
      />
    </mat-form-field>

    <!-- SAVE -->
    <button mat-raised-button color="accent" type="submit" class="mt-3">
      <p class="mb-0" *ngIf="!isLoading">SAVE</p>
      <span *ngIf="isLoading">
        <div
          class="spinner-border text-light"
          style="width: 1rem; height: 1rem"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </span>
    </button>
  </form>
</div>
