.register-container {
  min-width: 500px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field,
button {
  min-width: 450px;
}

@media (max-width: 768px) {
  .register-container {
    min-width: 100%;
  }
  mat-form-field,
  button {
    min-width: 80vw;
  }
  .register-container {
    min-width: 90vw;
  }
}
