mat-form-field,
button {
  min-width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}
@media (max-width: 768px) {
  mat-form-field,
  button {
    min-width: 90%;
  }
  form {
    margin: 0 5%;
  }
}
